@CHARSET "ISO-8859-1";
.header {
	font-size: 32px;
	font: green;
	background-color: lightblue;
	height: 10%;
	position: relative;
	text-align: center;
}
.sidebar{
	width: 30%;
	backgound-color: lightgray;
	float: left;
	clear: left;
	height: 80%;	
	
}
.content{
	float: left;
	height: 80%;
}
.footer{
	position: absolute;
	bottom: 5px;
	background-color: lightblue;
	height: 10%;
	text-align: center;
	width: 100%;
}
.header div {
	display: inline-block;
}
.footer div {
	display: inline-block;
}